.hero {
    height: 70vh;
    background: linear-gradient(45deg, #f4c2d7, #f4c2d7), url('/public/S43695-min.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F5E4E4; /* Màu nền logo */
    padding: 50px 20px;
    color: #333; /* Màu chữ tương phản */
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.hero-content {
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-book {
    padding: 10px 20px;
    background-color: white;
    color: #f4c2d7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
