.services-container {
    background: rgb(239, 225, 225);
    display: flex;
    flex-direction: column;
    list-style: none;
}
.services-container li {
    height: 100px;
    display: flex;
    justify-content: space-around;
}